.button{
    cursor: pointer;
    background-color: green;
    color: white;
    font-size: large;
    padding: 10px 40px;
    border: none;
}
input{
    padding: 10px;
    color: red;
    font-size: large;
}

#circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: teal;
    margin-bottom: 30px;
}